export PGHOST=postgres
export PGUSER= {{ environment.DB_USER }}
export PGPASSWORD= {{ environment.DB_PASSWORD }}
export JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64
TOMCAT_HOME=/usr/local/tomcat

xnat_version=1.6.5

project_name=xnat
db_name= {{ environment.DB_NAME }}
site_title={{ environment.XNAT_NAME }}

xnat_repo=http://repo/

data_dir= {{ environment.XNAT_DIR }}
xnat_url={{ environment.XNAT_URL }}

# eof
